version: '3.8'

services:
  app:
    build: .
    container_name: pdf_processor_app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./.env:/app/.env
    depends_on:
      - qdrant
    env_file:
      - .env

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"     # API port
      - "6334:6334"     # GRPC port
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data: